/*
 *RPG Game main menu style sheet
 *Filename: menu.css
 *
 *Date: August 27, 2019
 *Author: Travis Andre, Colton Adkins, Christian Cadwell
 *RPG GAME
 */

/*reset styles*/
html
{
    font-size: 22px;
}
header, footer, div, h1, h2, p
{
    margin: 0;
    padding: 0;
    border: 0;
}
a
{
    text-decoration: none;
}
/* body */
body
{
    background-color: #116622;
    background-image: url("img/wrapper.jpg");
}
/* page container */
.container
{
    background-image: url("img/mmbackground.jpg");
    border: solid 5px #116622;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* headers */
h1
{
    font-size: 150px;
    font-family: 'Cinzel Decorative', cursive;
    color: #FFFFFF;
    text-align: center;
    margin-top: 125px;
}
/* main page options*/
p
{
    color: #FFFFFF;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 30px;
}
span
{
    border: solid 1px #FFFFFF;
    border-radius: 75px;
    padding: 5px;
    background-image: url("img/buttonbackground.jpg");
}
#mute {
width: 5%;
cursor: pointer;
}
