/*
 *Pause Screen CSS
 *Filename: pause.css
 *
 *Date: September 3, 2019
 *Author: Travis Andre
 *RPG-Game
 */
/* reset styles */
html
{
    font-size: 14px;
}
header, footer, div, h1, h2
{
    margin: 0;
    padding: 0;
    border: 0;
}
a
{
    text-decoration: none;
}
body
{
    background-color: #000000;
}

/* Pause Menu Box */
#Pause_Container
{
    border: solid 5px #116622;
    background-image: url("img/wrapper.jpg");
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
     font-family: 'Cinzel Decorative', cursive;
}
.Pause_Selection
{
    background-color: #116622;
    border: solid 3px #116622;
    color: #FFFFFF;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    font-size: 25px;
    text-align: center;
}
