a
{
    text-decoration: none;
}
body {
  background-color: #000000;
  /*Temporary backroung color*/
}
#myCanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 85%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid red 2px;
/*
    background: url("img/map.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
*/

}

#myCanvasTwo {
    padding: 0;
    margin: auto;
    display: block;
    width: 85%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid red 2px;
/*
    background: url("img/map.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
*/

}
#position {
color: white;
}

/*Pause Menu Styles*/
#Pause_Button
{
    font-size: 14px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-top: 10px;
}
/* Pause Menu Box */
#Pause_Container
{
    display: none;
    border: solid 5px #116622;
    background-image: url("img/wrapper.jpg");
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;
    clear: both;
}
.Pause_Selection
{
    background-color: #116622;
    border: solid 3px #116622;
    color: #FFFFFF;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

